{{if and .Children (not .OmitChildrenFromTableOfContents)}}
<ul>
{{range .Children}}
  <li>
    <a href="{{.PrimaryTag | url}}">{{.Title | stripAux | render}}</a>

    {{template "toc.tmpl" .}}
  </li>
{{end}}
</ul>
{{end}}
