<div class="file-snippet">
  <pre class="file-path">{{.FilePath}}:</pre>

  <div class="annotated-line">
    <pre class="lineno">{{.Lineno}}</pre>
    <pre class="line">{{.Prefix}}<span class="annotated">{{.Annotated}}</span>{{.Suffix}}</pre>
  </div>
</div>
