<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Booklit Error</title>
    <style type="text/css">{{template "errors.css"}}</style>
  </head>
  <body>
    <div class="error-panel">
      <h1 class="title-header">your book is lit! ...on fire.</h1>

      {{. | error}}
    </div>
	</body>
</html>
