<h{{headerDepth .}} class="section-header">
  {{- if .Parent -}}
    <span class="number">{{.Number}} </span>
  {{- end -}}
  {{.Title | render -}}
</h{{headerDepth .}}>

{{.Body | render}}

{{if not .SplitSections}}
  {{range .Children}}
    {{template "section.tmpl" .}}
  {{end}}
{{end}}
