html {
  display: flex;
  min-height: 100%;
}

body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, Georgia, serif;
  line-height: 1.4;
  display: flex;
  flex-direction: row;
  background: #F8F0F0;
  color: #432E2B;
  background: #BFCDB4;
}

a {
  text-decoration: none;
  color: #D69F88;
}

a:hover {
  color: #EFB198;
}

code, pre {
  font-size: .7rem;
}

pre {
  background: #F7E5BF;
  border-bottom: 1px dotted #EAD2A4;
  padding: .5rem;
}

nav ul {
  list-style-type: none;
}

.page {
  width: 450px;
  padding: 2rem;
  padding-top: 0;
  background: #FFFAEA;
}


.side {
  width: 200px;
  background: #7D5D4E;
  padding: 1rem;
  color: #432E2B;
}

.side .context {
  position: relative;
  margin-bottom: 2rem;
}

.side .context a.self {
  font-weight: lighter;
  color: #fff;
}

.side .context .top {
  padding-left: 1.2rem;
  font-size: 1.1em;
}

.side .toggle {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.4rem;
  z-index: 2;
  opacity: 0;
}

.side .toggle:focus {
  outline: none;
}

.side .arrow:after, .side .toggle:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "\25ba";
  line-height: 1.4rem;
  font-size: .75rem;
  z-index: 1;
  cursor: pointer;
}

.side .toggle:checked + .arrow:after {
  content: "\25bc";
}

.side .toggle:not(:checked) + .arrow + .children {
  display: none;
}

.side .children {
  border-left: 1px solid #403430;
  margin-left: .35rem;
  padding-left: .8rem;
}

.side .children table {
  border-spacing: 0;
  border-collapse: collapse;
}

.side table td {
  vertical-align: top;
}

.page.sub h1 {
  font-size: 1.6em;
  border-bottom: 1px dotted #BFCDB4;
}

.section-number {
  margin-right: .4rem;
}
